@import url("normalize.css");

/*---clearfix---*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
  background: #fff;
}

.fundoSite {
  z-index: -1;
  position:fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: block;
  background: gray;
  padding: 15px;
}
.container.center {
  margin: 0px auto;
}

.container.left {
  float: left;
}

.container.right {
   float: right;
}

.container.fullWidth {
  width: 100%;
}

.container.large {
  width: 1260px;
}

.container.medium {
    width: 900px;
}

.bloco {
  float: left;
  background-color: rgba(86,61,124,.15);
}
.bloco.right {
  float: right;
}
.bloco.center {
  margin: 0px auto;
}
.bloco.pequeno {
  width:25%;
}
.bloco.medio {
    width: 50%;
}
.bloco.grande {
    width: 75%;
}
.bloco.offser {
  margin-right: 0px;
}
